.dialogs{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 5fr;

}

.dialog-items {

}
.active {
    color: brown;
}

.item {
    text-decoration: none;
    display: block;
    color: black;
}

