.postsWrapper{
  padding: 30px;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  height: calc(100vh - 170px);
  min-height: 0; /* <-- Додай це */ 
}
 
.postsTable {
  display: flex;
  flex-direction: column;
  gap: 25px;

  
  padding-right: 10px; 

  flex: 1; /* розтягується всередині .postsWrapper */
  min-height: 0; /* дуже важливо у flex! */
}