.wrapper {
  margin: 10px auto;


  display: grid;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;

}

.app-wrapper-content {
  border-radius: 10px;

  background-color: #ffffff; 
  height: 100%;

  max-width: 1200px;
  min-width: 300px;
}



